/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Concert+One|Permanent+Marker&display=swap');

html, body, div, span,
 p, ul, li {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: black;
  font-size: 16px;
  line-height: 22px;
  color: white;
  /* font-family: 'Lucida Grande', Verdana, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 14px;
  height: 30px;
  margin-right: 10px;
  width: 350px;
}

button {
height: 50px;
font-size: 14px;
width: 100px;
margin: 5px;

}

ol, ul {
  list-style: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}

.btn:hover {
  background: lightslategrey;
}

.btn-red {
  background: red;
}

.btn-red:hover {
  background: darkred;
}

.app-title {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.8px;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Permanent Marker', cursive;
  line-height: 50px;
}



/* font-family: 'Permanent Marker', cursive;
font-family: 'Concert One', cursive; */
